
torch==1.6.0
pillow>=4.1.1
transformers>=4.0.0
sentence_transformers>=0.4.1.2
nltk>=3.5
word2word
torchvision==0.7.0
fairseq>=0.10.2
python-mecab-ko==1.0.9
kollocate
koparadigm
g2pk
wget
joblib
lxml
g2p_en
whoosh
marisa-trie
kss
pandas
scipy
ipykernel
